* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url("url:./assets/ppt-fondo.png");
  background-size: cover;
  overflow: hidden;
}

/*Pages*/

.page {
  display: flex;
  flex-direction: column;
}

.text-container {
  padding: 100px 0 70px 0;
}

@media (min-width: 768px) {
  .text-container {
    padding: 80px 0 25px 0;
  }
}

@media (min-height: 768px) {
  .text-container {
    padding: 150px 0 100px;
  }
}

.button-container,
.text-container {
  margin: 0 auto;
}

.hands-container {
  position: absolute;
  bottom: -5;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  gap: 50px;
}

@media (min-width: 768px) {
  .hands-container {
    gap: 65px;
  }
}
